@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

/*header*/

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list,
.navigation-user {
  width: 490px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 315px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.navigation-user-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

/*main*/

.main-container {
  flex-grow: 1;
}

.index-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.welcome-to-sedona {
  background-image: url(../images/background/background-index.jpg);
  background-size: 100% auto;
  height: 485px;
}

.welcome {
  display: block;
  margin: 51px auto 25px;
}

.background-divider {
  margin: 0;
  padding: 0;
}

.description-sedona {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  height: 282px;
}

.main-index-title {
  margin-top: 63px;
  margin-bottom: 31px;
}

.main-index-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*преимущества*/

.advantages {
  margin: 0;
  padding: 0;
  width: 1200px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.first-line {
  display: flex;
  justify-content: space-between;
}

.second-line {
  display: flex;
}

.third-line {
  display: flex;
}

.fourth-line {
  display: flex;
}

.advantages-list {
  margin: 0;
  padding: 0;
  height: 384px;
}

.advantages-item,
.advantages-recommendation-item {
  text-align: center;
}

.advantages-title {
  width: 400px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-recommendation-title {
  width: 400px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.dark-blue {
  background: #82b3d3;
  color: #ffffff;
}

.light-blue {
  background: #f0f6fa;
  color: #000000;
}

.advatages-recommendation-description {
  color: #333333;
}

.blue {
  background: #e6f0f6;
  color: #000000;
}

.white {
  background: #ffffff;
  color: #000000;
}

.street-sedona,
.canyon-sedona {
  width: 800px;
}

/*поиск гостиницы*/

.search-hotels {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background: #f0f6fa;
  color: #333333;
  height: 417px;
  margin: 0;
  padding: 0;
}

.search-hotels-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-hotels-link {
  background: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
}

/*подписка на рассылку*/

.subscription {
  background-image: url(../images/background/background-index-subscription.jpg);
  background-size: 100% auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  height: 411px;
}

.subscription-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/*footer*/

.page-footer {
  margin: 0 auto;
  width: 1200px;
  height: 120px;
}

.footer-container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: baseline;
  margin: 40px 70px 30px;
}

.footer-social {
  width: 150px;
  height: 50px;
  padding: 0;
}

.footer-social-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.button {
  background: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.contacts-number {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  width: 350px;
}

.footer-logo {
  width: 150px;
}

/*фильтр гостиниц*/

.inner-catalog-filter {
  background-image: url(../images/background/background-filter.jpg);
  background-size: 100% auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  height: 298px;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 35px 70px;
}

/*.catalog-filte-container {
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 260px;
}*/

.inner-header {
  display: flex;
  flex-direction: column;
  width: 495px;
  height: 109px;
  margin: 0;
  padding: 0;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  margin: 0;

}

.breadcrumbs {
  display: flex;
  margin: 10px 0 0 0;
  padding: 0;
  width: 111px;
  justify-content: space-between;
}

.catalog-filter-main {
  display: flex;
  width: 1060px;
  height: 149px;
  padding: 40px 0 0 0;
  justify-content: space-between;
}

.catalog-filter-group {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  width: 150px;
  height: 149px;
}

.type {
  width: 146px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  border: none;
}

.catalog-filter-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: 519px;
  height: 148px;
}

.button-apply {
  background: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  display: block;
  width: 160px;
  height: 48px;
}

.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: inherit;
  border: none;
  display: block;
  width: 160px;
  height: 48px;
}

/*найденные гостиницы,карточки гостиниц*/

.catalog-search {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 1212px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.inner-catalog-search {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  width: 1057px;
  height: 49px;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.sorting {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-hotel-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 56px 0 0 0;
  width: 1056px;
  height: 876px;
  justify-content: flex-start;
}

.search-hotel-card-list {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.search-hotel-card-item,
.search-hotel-card-price {
  display: block;
  width: 140px;
}

.search-hotel-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 340px;
  height: 438px;
  align-content: center;
}

.search-hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.search-hotel-card-button,
.search-hotel-card-rating {
  display: block;
  width: 140px;
  height: 37px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  color: #333333;
  text-decoration: none;
}

.hotel-card-button {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  width: 300px;
}

.more {
  background: #756157;
  color: #ffffff;
}

.to-favorits {
  background: #82b3d3;
  color: #ffffff;
}

.rating {
  display: flex;
  width: 300px;
  height: 37px;
  justify-content: space-between;
  align-items: center;
}

.search-hotel-card-star-rating {
  display: block;
}

.hotel-pagination {
  display: flex;
  width: 1056px;
  height: 56px;
  margin: 0;
  padding-top: 96px;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.pagination-item {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-link {
  text-decoration: none;
}

.hotel-pagination-list {
  display: flex;
  width: 386px;
  height: 49px;
  justify-content: space-between;
  align-items: center;
}

.hotel-pagination-item {
  display: block;
  margin: 0;
  padding: 0;
}

.hotel-pagination-item-cotrol {
  display: block;
  margin: 0;
  padding: 0;
  width: 160px;
  height: 49px;
}

.subscription-catalog {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.subscription-item-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
