@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.navigation-user-item-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.welcome-to-sedona {
  background-image: url(../images/background/background-index.jpg);
  background-size: 100% auto;
}

.description-sedona {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background: #FFFFFF;
  color: #000000;
}

.main-index-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #FFFFFF;
  color: #000000;
}

.advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.real-town {
  background: #82B3D3;
  color: #FFFFFF;
}

.devil-bridge {
  background: #82B3D3;
  color: #FFFFFF;
}

.small-area {
  background: #f0f6fa;
  color: #000000;
}

.small-area .advanges-description {
  color: #333333;
}

.road {
  background: #e6f0f6;
  color: #000000;
}

.road .advanges-description {
  color: #333333;
}

.few-tourists {
  background: #f0f6fa;
  color: #000000;
}

.few-tourists .advanges-description {
  color: #333333;
}

.advantages-recommendation-item {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #f0f6fa;
  color: #000000;
}

.advantages-recommendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advatages-recommendation-description {
  color: #333333;
}

.food {
  background: #FFFFFF;
}
